DOCKERIZED=true
DATABASE_HOST=postgres_db
DATABASE_PORT=5432
DATABASE_USER=vasuser
DATABASE_PASSWORD=crapassword
DATABASE_DBNAME=auth
DATABASE_SSLMODE=disable
JWT_SECRET=StillJustATestSecret
JWT_TTL=72h
PORT=4006