# These are divided from single URI \ URL to include SslMode, which happens to be crucial for connection
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DBNAME=
DATABASE_SSLMODE=

TEST_DATABASE_HOST=
TEST_DATABASE_PORT=
TEST_DATABASE_USER=
TEST_DATABASE_PASSWORD=
TEST_DATABASE_DBNAME=
TEST_DATABASE_SSLMODE=

JWT_TTL=72h
TEST_JWT_TTL=24h

PORT= # Result will be  'grpc://0.0.0.0:%PORT%'